<%- include('header')-%>

<div class="page-content">
  <div style="padding-top:3rem;" class="div-mid blog-title">
    <h4><%=postFull.title%> | <%=postFull.date%></h4>
  </div>
  <div class="div-mid blog-body">
    <pre class="body-text fontStuff">
<%=postFull.body%>
    </pre>
  </div>
</div>

<%- include('footer')-%>
